.about {
  position: relative;
  display: flex;

  padding: 95px 0 50px;

  @include vp-1199 {
    padding: 80px 0 70px;
  }

  @include vp-767 {
    padding: 0 0 60px;

    flex-direction: column;
  }
}

.about::before {
  position: absolute;
  content: "";
  background-image: url("/img/image/about/about-clouds.png");
  background-repeat: no-repeat;
  top: -120px;
  right: 0;
  width: 840px;
  height: 280px;

  @include vp-1199 {
    display: none;
  }
}

.about__container {
  display: flex;
  max-width: 585px;

  @include vp-767 {
    flex-direction: column;
  }
}

.about__image img {
  width: 100%;
}

.about__text-container {
  & h2 {
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;

    text-shadow: 24px 0px 0px rgba(45, 56, 63, 0.28);
    margin: 0 0 58px;

    @include vp-1199 {
      font-size: 25px;
      line-height: 25px;

      margin-bottom: 36px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;

      margin-bottom: 33px;
    }
  }

  & h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;

    margin-bottom: 20px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;

      margin-bottom: 18px;
    }
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &:not(:last-child) {
      margin: 0 0 25px;
    }

    @include vp-767 {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}
