.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1100;

  width: 100%;
  padding: 40px 0 32px;

  color: #ffffff;

  @include vp-1199 {
    padding: 30px 0 25px;
  }

  @include vp-767 {
    padding: 15px 0 13px;
  }
}

.header.is-hidden {
  transform: translateY(-100%);
}

.header__wrapper {
  display: grid;
  grid-template-columns: 210px 1fr 150px;
  gap: 20px;
  align-items: start;

  @include vp-1199 {
    grid-template-columns: 150px 1fr 150px;
  }

  @include vp-767 {
    grid-template-columns: auto 1fr;
    gap: 8px 20px;
  }
}

.header__logo {
  color: inherit;

  @include vp-1199 {
    margin: 0 auto;
  }
  @include vp-767 {
    margin-right: 0;
  }
}

.header__logo svg {
  width: 100%;
  height: 100%;

  @include vp-1199 {
    width: 144px;
    height: 44px;
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
  }
}

.header__toggle {
  display: none;

  @include vp-1199 {
    position: relative;

    display: grid;
    width: 26px;
    height: 26px;
    margin-top: 9px;
    padding: 0;

    color: #ffffff;

    background-color: transparent;
    border: none;
    cursor: pointer;

    user-select: none;
  }

  @include focus {
    &:not([disabled]) {
      outline: 2px solid rgba(45, 56, 63, 0.6);
      outline-offset: 4px;
    }
  }

  @include hover {
    &:not([disabled]) span {
      width: 100%;
    }
  }

  @include vp-767 {
    margin: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 26px;
    height: 2px;

    background-color: currentColor;

    transition: transform $trans-default, opacity $trans-default, color $trans-default;
  }

  &::before {
    top: 4px;
  }

  &::after {
    bottom: 4px;
  }

  & span {
    content: "";
    position: absolute;
    top: 50%;

    width: 17px;
    height: 2px;

    background-color: currentColor;
    transform: translateY(-50%);

    transition: opacity $trans-default, width $trans-default, background-color $trans-default;
  }
}

.header__phone {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: $color-default-white;

  margin: 22px 0 0;

  justify-self: end;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;

    margin: 13px 0 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;

    display: flex;
    grid-column: 2/-1;
    flex-wrap: wrap;
    margin: 0;
  }

  &:hover,
  &:focus {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    opacity: 0.1;
  }
}

@include vp-1199 {
  .header.is-open {
    background-color: #ffffff;
  }

  .header.is-open .header__nav {
    visibility: visible;
    opacity: 1;

    pointer-events: all;
  }

  .header.is-open .header__logo {
    color: #2d383f;
  }

  .header.is-open .header__phone {
    color: #2d383f;
  }

  .header.is-open .header__toggle {
    color: #2d383f;

    &::after,
    &::before {
      top: 50%;

      transform: translateY(-50%);
    }

    &::before {
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }

    & span {
      opacity: 0;
    }
  }
}
