.promo {
  position: relative;
  margin: 0 auto;

  color: $color-default-white;
}

.promo__container-image {
  position: absolute;
  inset: 0;
}

.promo__swiper-image {
  height: 100%;
}

.promo__slide-image {
  width: 100%;
  height: 100%;

  background-color: $color-resolution-blue;
}

.promo__slide-image,
.promo__slide-conten {
  visibility: hidden;
}

.promo__slide-image.swiper-slide-active,
.promo__slide-conten.swiper-slide-active {
  visibility: visible;
}

.promo__slide-image img {
  width: 100%;
  height: 100%;
}

.promo__slide-image::before {
  position: absolute;
  content: "";

  background: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%);

  inset: 0;
}

.promo__content {
  position: relative;
  display: flex;


  padding: 182px 0 80px;

  @include vp-1199 {
    flex-direction: column;
    padding: 174px 0 566px;
  }

  @include vp-767 {
    padding: 140px 0 149px;
  }
}

.promo__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-1199 {
    align-content: center;

    text-align: center;
  }

  & h1 {
    font-weight: 800;
    font-size: 77px;
    line-height: 77px;

    margin: 0 0 25px;
    z-index: 2;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;

      margin-bottom: 15px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  & h2 {
    font-weight: 800;
    font-size: 77px;
    line-height: 77px;

    margin: 0 0 25px;
    z-index: 2;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;

      margin-bottom: 15px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  & p {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;

    margin: 0 0 35px;
    max-width: 464px;

    @include vp-1199 {
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;

      max-width: 290px;
      margin-bottom: 20px;
    }
  }
}

.promo__button {
  width: 220px;
  padding: 21px 0;

  @include vp-1199 {
    width: 206px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 180px;
    padding: 18px 0;
  }
}

.promo__text-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-top: 149px;

  @include vp-1199 {
    display: none;
  }
}

.promo__text-small {
  position: relative;

  padding: 12px 19px 12px 40px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  background-color: $color-transparent;

  & p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }

  &--one::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 20px;
    width: 12px;
    height: 12px;

    background-image: url("../img/svg/promo-moon.svg");
  }

  &--two::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 20px;
    width: 12px;
    height: 12px;

    background-image: url("../img/svg/promo-level.svg");
  }
}

.promo__photo-container {
  position: absolute;
  top: 267px;
  left: 64.6%;
  z-index: -1;

  display: flex;

  @include vp-1199 {
    top: 509px;
    left: 48.8%;
    gap: 111px;
    transform: translateX(-50%);
  }

  @include vp-767 {
    display: none;
  }
}

.promo__photo-one img,
.promo__photo-two img {
  width: 100%;
}

.promo__photo-one {
  transform: rotate(-17.5deg) translate(59px,0);

  @include vp-1199 {
    width: 195px;
    height: 266px;
    margin-top: 40px;
  }
}

.promo__photo-two {
  transform: rotate(20deg) translate(-12px,85px);

  @include vp-1199 {
    width: 166px;
    height: 229px;
  }
}

.promo__container-content {
  position: relative;
  z-index: 1;
}

.promo__pagination {
  bottom: 89px;
  right: 0;
}

.promo__pagination:focus {
  border: 1px solid $color-default-white;
  outline: none;
}
