.promo {
  position: relative;

  color: $color-default-white;
  background-color: $color-navy-blue;
}

.promo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.promo__content {
  position: relative;
  display: flex;

  margin: 182px 120px 80px;

  @include vp-1199 {
    flex-direction: column;
    margin: 174px 45px 566px;
  }

  @include vp-767 {
    margin: 140px 15px 149px;
  }
}

.promo__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-1199 {
    text-align: center;
    align-content: center;
  }

  & h1 {
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;

    margin: 0 0 25px;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;

      margin-bottom: 15px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  & p {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;

    margin: 0 0 35px;
    max-width: 464px;

    @include vp-1199 {
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;

      max-width: 290px;
      margin-bottom: 20px;
    }
  }
}

.promo__button {
  width: 220px;
  padding: 21px 0;

  @include vp-1199 {
    width: 206px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 180px;
    padding: 18px 0;
  }
}

.promo__text-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-top: 150px;

  @include vp-1199 {
    display: none;
  }
}

.promo__text-small {
  position: relative;

  padding: 12px 19px 12px 40px;
  border: 1px solid $color-default-white;
  background-color: $color-transparent;

  & p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  }

  &--one::before {
    position: absolute;
    top: 13px;
    left: 20px;
    background-image: url("/img/svg/promo-moon.svg");
    content: "";
    width: 12px;
    height: 12px;
  }

  &--two::before {
    position: absolute;
    top: 13px;
    left: 20px;
    background-image: url("/img/svg/promo-level.svg");
    content: "";
    width: 12px;
    height: 12px;
  }
}

.promo__photo-container {
  position: absolute;
  top: 21px;
  left: 66%;
  z-index: -1;

  display: flex;
  width: 100%;

  @include vp-1199 {
    top: 300px;
    left: 60%;
    transform: translateX(-50%);
  }

  @include vp-767 {
    display: none;
  }
}

.promo__photo-one {
  width: 100%;
}

.promo__photo-two {
  width: 100%;

  margin-left: -941px;
  margin-top: 92px;

  @include vp-1199 {
    margin-left: -190px;
    margin-top: 50px;
  }
}
