.tours {
  position: relative;
  padding: 124px 0 0;

  @include vp-1199 {
    padding-top: 88px;
  }

  @include vp-767 {
    padding-top: 68px;
  }

  & h2 {
    margin: 0 0 -35px;

    @include vp-1199 {
      margin-bottom: -30px;
    }

    @include vp-767 {
      max-width: 156px;
      margin-bottom: -42px;
    }
  }
}

.tours::before {
  position: absolute;
  content: "";
  background-image: url("../img/image/tours/tours-clouds-small.png");
  background-repeat: no-repeat;
  bottom: -89px;
  left: 0;
  width: 837px;
  height: 279px;

  @include vp-1199 {
    display: none;
  }
}

.tours::after {
  position: absolute;
  content: "";
  background-image: url("../img/image/tours/tours-clouds-desktop.png");
  background-repeat: no-repeat;
  top: 213px;
  right: 0;
  width: 602px;
  height: 860px;
  z-index: -1;

  @include vp-1199 {
    background-image: url("../img/image/tours/tours-clouds-tablet.png");
    width: 294px;
    height: 589px;
    top: 250px;
    right: 0;
  }

  @include vp-767 {
    background-image: url("../img/image/tours/tours-clouds-mobile.png");
    top: 137px;
    right: 0;
    width: 175px;
    height: 595px;
  }
}

.tours__swiper {
  @include vp-1199 {
    margin: 0 5px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.tours__wrapper {
  padding-top: 89px;

  @include vp-1199 {
    padding-top: 73px;
  }

  @include vp-767 {
    padding-top: 67px;
    padding-left: 0;
  }
}

.tours__slide {
  position: relative;
  max-width: 380px;
  height: auto;
  min-height: 413px;
  padding: 36px 20px 25px;
  overflow: hidden;
  z-index: 1;

  color: #ffffff;

  @include vp-1199 {
    min-height: 412px;
    padding: 63px 20px 14px;
  }

  @include vp-767 {
    padding: 68px 20px 26px;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 61.9%, rgba(0, 0, 0, 0) 100%);
  }
}

.tours__image {
  position: absolute;
  z-index: -1;

  inset: 0;
}

.tours__image img {
  width: 100%;
  height: 100%;
}

.tours__text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  padding-top: 50%;
  inset: 0;

  color: $color-default-white;
  z-index: 2;

  & h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    padding-bottom: 17px;
    margin: 0 0 20px;

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 16px;
      margin-bottom: 15px;
    }
  }
}

.tours__text-container h3::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 80px;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.2);
}

.tours__text-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  padding: 0;
  margin: auto 0 23px;
  list-style: none;

  @include vp-1199 {
    gap: 5px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 15px;
    gap: 10px;
  }
}

.tours__text-item {
  position: relative;
  padding: 9px 0 8px 35px;

  @include vp-1199 {
    padding-left: 33px;
  }

  @include vp-767 {
    padding-left: 34px;
  }

  & p {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    margin: 0;
  }

  &--place {
    background-color: $color-navy-blue;
    padding: 9px 25px 8px 39px;

    @include vp-1199 {
      padding-right: 16px;
    }

    @include vp-767 {
      grid-row: 2 / 3;
      padding: 9px 36px 8px 31px;
      max-width: 97px;
    }
  }

  &--nights {
    @include vp-767 {
      margin-left: -38px;
    }
  }
}

.tours__text-item--place svg {
  position: absolute;
  top: 9px;
  left: 24px;
  width: 9px;
  height: 12px;

  @include vp-1199 {
    left: 10px;
  }

  @include vp-767 {
    left: 16px;
  }
}

.tours__text-item--days svg,
.tours__text-item--nights svg {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
}

.tours__text-table {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 54px;

  @include vp-1199 {
    gap: 25px;
  }

  @include vp-767 {
    gap: 10px;
  }

  & dl {
    margin: 0;
  }

  & dt {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;

    margin: 0 0 7px;

    @include vp-767 {
      margin-bottom: 4px;
    }
  }

  & dd {
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;

    margin: 0 0 -3px;
  }
}

.tours__button {
  position: relative;
  display: block;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  background-color: $color-transparent;
  border: none;
  padding: 0 24px 0 0;
  margin: 52px auto 0;
  cursor: pointer;

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;

    margin-top: 30px;
  }
}

.tours__button:hover,
.tours__button:focus {
  color: $color-resolution-blue;
  outline: none;
}

.tours__button:active {
  color: $color-navy-blue;
}

.tours__button:disabled {
  color: rgba(2, 102, 193, 0.1);
}

.tours__button svg {
  position: absolute;
  top: 0;
  right: 0;
}

.tours__button:hover svg,
.tours__button:focus svg {
  fill: $color-resolution-blue;
}

.tours__button:focus svg {
  fill: $color-navy-blue;
}

.tours__button:disabled svg {
  fill: rgba(2, 102, 193, 0.1);
}

.tours__button-container {
  position: absolute;
  width: 78px;
  height: 35px;
  top: 4px;
  right: 0;
}

.tours__navigation {
  background-color: $color-navy-blue;
  border: none;
  width: 37px;
  height: 35px;
  right: 0;

  &--prev {
    transform: rotate(180deg);
    left: 0;
  }
}

.tours__navigation:hover,
.tours__navigation:focus {
  background-color: $color-transparent;
  border: 1px solid $color-resolution-blue;
  outline: none;
}

.tours__navigation:active {
  background-color: $color-resolution-blue;
}

.tours__navigation:disabled {
  opacity: 0.2;
}

.tours__navigation svg {
  position: absolute;
  width: 13px;
  height: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $color-default-white;
  color: $color-default-white;
}

.tours__navigation:hover svg,
.tours__navigation:focus svg {
  fill: $color-resolution-blue;
  color: $color-resolution-blue;
}

.tours__navigation:active svg {
  fill: $color-default-white;
  color: $color-default-white;
}

.tours__navigation:disabled svg {
  opacity: 0.8;
}
