.training {
  padding: 125px 0 0;

  @include vp-1199 {
    padding-top: 86px;
  }

  @include vp-767 {
    padding-top: 67px;
  }

  & h2 {
    margin: 0 0 32px;

    @include vp-1199 {
      margin-bottom: 21px;
    }

    @include vp-767 {
      margin-bottom: 16px;
    }
  }

  & p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    padding: 0;
    margin: 0 0 55px;
    max-width: 820px;

    @include vp-1199 {
      margin-bottom: 66px;
      max-width: 560px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 49px;
    }
  }

  & h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;

    margin: 0 0 -27px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;

      margin-bottom: -39px;
    }
  }
}

.training__swiper {
  padding: 0 22px 22px;
  margin: 0 -22px -22px;

  @include vp-767 {
    padding: 0 15px 22px;
    margin: 0 -15px -22px;
  }
}

.training__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;

  @include vp-1199 {
    padding-top: 58px;
  }

  @include vp-767 {
    padding-top: 72px;
  }
}

.training__slide {
  border: 1px solid $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);

  padding: 20px 20px 0;
  min-height: 377px;

  visibility: hidden;

  @include vp-1199 {
    padding: 15px 15px 0;
    min-height: 411px;
  }

  @include vp-767 {
    padding: 20px 20px 0;
    min-height: 385px;
  }

  & p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    padding: 0;
    margin: 0;

    @include vp-1199 {
      line-height: 18px;
    }
  }
}

.training__slide--visible {
  visibility: visible;
}

.training__image img {
  width: 100%;
}

.training__text-container {
  position: relative;

  & h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    margin: 17px 0 12px;
  }
}

.training__link {
  position: absolute;
  top: 4px;
  right: 0;
  width: 24px;
  height: 24px;

  background-color: $color-default-white;
  border: 1px solid rgb(2, 102, 193, 0.1);

  @include vp-767 {
    right: 11px;
  }
}

.training__link:hover,
.training__link:focus {
  border: 1px solid $color-elephant;
  outline: none;
}

.training__link:active {
  background-color: $color-navy-blue;
  border: 1px solid $color-transparent;
}

.training__link:disabled {
  opacity: 0.3;
}

.training__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.training__link:active svg {
  fill: $color-default-white;
  color: $color-default-white;
}

.training__link:disabled svg {
  opacity: 0.3;
}

.training__process {
  border-bottom: 1px solid rgba(2, 101, 193, 0.2);
  margin-top: 50px;

  @include vp-1199 {
    border: none;
    margin-top: 44px;
  }

  @include vp-767 {
    margin-top: 38px;
  }

  & h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;

    margin: 0 0 9px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 18px;

      margin-bottom: 22px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;

      margin-bottom: 20px;
      margin-left: 4px;
    }
  }
}

.training__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 53px 28px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 9px;
    margin-left: 4px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    grid-auto-flow: column;
  }
}

.training__item {
  position: relative;

  padding: 33px 10px 33px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px 24px;

  &--map {
    background-image: url("../img/svg/training-map.svg");
  }

  &--boots {
    background-image: url("../img/svg/training-boots.svg");
  }

  &--tree {
    background-image: url("../img/svg/training-pine-tree.svg");
  }

  &--mountain {
    background-image: url("../img/svg/training-mountain.svg");
  }

  @include vp-1199 {
    padding: 19px 60px 17px 40px;
  }

  @include vp-767 {
    padding: 8px 20px 8px 64px;

    background-position: left 33px center;
    background-size: 19px 19px;
  }

  & p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      grid-column: -2 / -1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;

    width: 14px;
    height: 14px;

    background-color: $color-navy-blue;
    border-radius: 50%;

    @media (max-width: 767px) {
      top: 50%;
      bottom: auto;

      transform: translateY(-50%);
    }
  }

  &:nth-child(4n + 3)::after,
  &:nth-child(4n + 4)::after {
    @media (min-width: 768px) and (max-width: 1199px) {
      top: -7px;
      bottom: auto;
    }
  }

  &::before {
    @include vp-1199 {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 110%;
      height: 1px;

      background-color: rgba(2, 101, 193, 0.2);
    }

    @include vp-767 {
      top: 50%;
      left: 7px;

      width: 1px;
      height: 58px;
    }
  }

  &:last-child::before {
    @include vp-767 {
      display: none;
    }
  }

  &:nth-child(4n)::before {
    @media (min-width: 768px) and (max-width: 1199px) {
      top: 0;

      display: block;
    }
  }

  &:nth-child(4n + 2)::before {
    @media (min-width: 768px) and (max-width: 1199px) {
      top: 100%;
      left: 7px;

      width: 1px;
      height: 53px;
    }
  }

  &:nth-child(4n + 3)::before {
    @media (min-width: 768px) and (max-width: 1199px) {
      display: none;
    }
  }
}

.training__button-container {
  position: absolute;
  width: 78px;
  height: 35px;
  top: 4px;
  right: 25px;

  @include vp-767 {
    top: 17px;
    right: 15px;
  }
}

.training__navigation {
  background-color: $color-navy-blue;
  border: none;
  width: 37px;
  height: 35px;
  right: 0;

  &--prev {
    transform: rotate(180deg);
    left: 0;
  }

  &--next {
    right: 0;
  }
}

.training__navigation:hover,
.training__navigation:focus {
  background-color: $color-transparent;
  border: 1px solid $color-resolution-blue;
  outline: none;
}

.training__navigation:active {
  background-color: $color-resolution-blue;
}

.training__navigation:disabled {
  opacity: 0.2;
}

.training__navigation svg {
  position: absolute;
  width: 13px;
  height: 9px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $color-default-white;
  color: $color-default-white;
}

.training__navigation:hover svg,
.training__navigation:focus svg {
  fill: $color-resolution-blue;
  color: $color-resolution-blue;
}

.training__navigation:active svg {
  fill: $color-default-white;
  color: $color-default-white;
}

.training__navigation:disabled svg {
  opacity: 0.2;
}
