.video {
  @include vp-767 {
    display: none;
  }
}

.video__container {
  position: absolute;
  top: 302px;
  right: 0;

  z-index: 1;

  @include vp-1199 {
    top: 506px;
    left: 50%;
    transform: translateX(-50%);
    width: 442px;
    height: 300px;
  }
}

.video__image {
  position: relative;
}

.video__image img {
  width: 100%;
}

.video__player {
  position: absolute;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;

  inset: 0;
}

.video__player iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.video__player.active {
  display: block;
}

.video__player.active .video__button {
  display: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid $color-default-white;
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
}

.video__button svg {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);

  width: 14px;
  height: 26px;

  fill: #ffffff;
  stroke: #ffffff;
  cursor: pointer;
}

.video__button:hover,
.video__button:focus-visible {
  background-color: $color-transparent;
  border-color: $color-resolution-blue;
  outline: none;

  & svg {
    stroke: #1c3374;
  }
}

.video__button:active {
  background-color: $color-resolution-blue;
  border-color: $color-resolution-blue;

  & svg {
    stroke: $color-default-white;
  }
}

.video__button:disabled {
  color: #0266c1;
  opacity: 0.2;
}
